.navbar {
background-color: #4E5283;
}
.navbar-brand {
            margin-right: 20px;
            }
            .nav-item {
                        margin-right: 10px;
                    }

                    .table {
                    background-color: #D9BBF9;}
                    .table-head{
                    background-color: #7871AA;}