<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="layouts :: head"></head>


<body>
<nav th:replace="layouts :: nav"></nav>
<div class="container">
    <h3>Employees</h3>

    <a type="button" class="btn btn-primary m-3" th:href="@{/employees/new}">Create new employee</a>

    <table class="table table-bordered table-striped">
        <thead class="table-head">
        <tr>
            <th scope="col">First Name</th>
            <th scope="col">Last Name</th>
            <th scope="col">Email</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="anEmployee:${employee}">
            <td th:text="${anEmployee.firstName}"/>
            <td th:text="${anEmployee.lastName}"/>
            <td th:text="${anEmployee.email}"/>

        </tr>
        </tbody>
    </table>

</div>


</body>
</html>