<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="layouts :: head"></head>


<body>
<nav th:replace="layouts :: nav"></nav>
<div class="container">
    <h3>Employees</h3>

    <table class="table table-bordered table-striped table-dark ">
        <thead>
        <tr>
            <th scope="col">First Name</th>
            <th scope="col">Last Name</th>
            <th scope="col">Email</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="anEmployee:${employee}">
            <td th:text="${anEmployee.firstName}"/>
            <td th:text="${anEmployee.lastName}"/>
            <td th:text="${anEmployee.email}"/>

        </tr>
        </tbody>
    </table>

</div>


</body>
</html>