<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="layouts :: head"></head>

<body>

<nav th:replace="layouts :: nav"></nav>
<div class="container">
    <h3>Projects</h3>
    <a type="button" class="btn btn-primary m-3" th:href="@{/projects/new}">Create new project</a>
    <table class="table table-bordered table-striped">
        <thead class="table-head">
        <tr>
            <th scope="col">Project</th>
            <th scope="col">Stage</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="aProject:${project}">
            <td th:text="${aProject.name}"/>
            <td th:text="${aProject.stage}"/>

        </tr>
        </tbody>
    </table>

</div>


</body>
</html>